.main {
    margin-top: 8rem;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.about-roadmap {
    margin-top: 3rem;
}

.lb {
    white-space: pre-line;
}

.roadmap p {
    text-align: right;
}

.roadmap {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 4rem;
    width: auto;
}

.top{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
}

.roadmap-cont {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.roadmap-img img {
    display: flex;
    width: 100%;
}

.grd-txt {
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(37, 119, 215, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 860px) {
    .main {
        flex-direction: column-reverse;
        margin-top: 5rem;
        padding: 0 1rem;
    }

    .about-roadmap {
        margin-top: 2rem;
    }

    .roadmap {
        margin-left: 0;
    }  
}

@media screen and (max-width: 860px) {
    .top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}