.main {
    margin-top: 8rem;
    padding: 0rem 6rem 0rem 6rem;
}

.top{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.grd-txt {
    background: linear-gradient(214deg, rgba(255, 255, 255, 1) 0%, rgba(37, 119, 215, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}