.top-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #242424;
    background: rgb(255, 255, 255);
    background: linear-gradient(214deg, rgba(255, 255, 255, 1) 0%, rgba(37, 119, 215, 1) 100%);
    font-family: 'Tajawal', sans-serif;
    padding: 0.6rem 2rem;
    line-height: 18px;
    height: max-content;
    background-color: transparent;
    color: black;
    border: solid 1px gray;
    border-radius: 20px;
    margin-left: 1rem;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    
}

.top-btns-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@media screen and (max-width: 860px) {
    .top-btn {
        margin-left: 0;
        margin-right: 0.5rem;
        width: 100px;
        height: 30px;
        font-size: 14px;
        padding: 0;
    }

    .top-btns-container {
        margin-top: 0.5rem;
    }
}
